@use "../mq";
@use "../abstracts" as *;

.page-bg-beige {
    background-color: $color-primary-beige;
}

.page-bg-brown {
    background-color: $color-primary-brown;
}

.page-bg-green {
    background: $color-secondary-dark-green;
}

.page-bg-dark-brown {
    background: $color-primary-dark-brown;
}

.page-main-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $color-primary-brown;
    padding: 0 1rem 0 1rem;

    @include mq.mq($from: mobileLandscape) {
        padding: 0 5rem;
    }
    @include mq.mq($from: desktop, $until: wide) {
        padding: 0 10rem;
    }
    @include mq.mq($from: wide) {
        padding: 0 20rem;
    }

    &__main-title {
        display: none;
        padding-bottom: 1rem;
        @include mq.mq($from: tablet, $until: desktop) {
            display: block;
        }
        
    }

    &__alternative-title {
        @include mq.mq($from: tablet, $until: desktop) {
            display: none;
        }
    }
    
    p {
        text-align: center;
    }

    span {
        display: none;
        @include mq.mq($from: tablet, $until: desktop) {
            display: inline-block;
            font-weight: $font-weight-600;
        }
    }
}

// ***********  LAYER BACK *********** //
.layer-back {
    position: fixed;
    height: 200px;
    padding: 0 1rem;
    width: 100%;
    color: $color-primary-white;
    z-index: 1;

    @include mq.mq($from: mobileLandscape, $until: tablet) {
        height: 300px;
    }
    &__wrapper {
        @include mq.mq($from: mobileLandscape, $until: tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 1rem;
        }
        @include mq.mq($from: tablet, $until: desktop) {
            margin-top: 3rem;
        }
        @include mq.mq($from: desktop, $until: wide) {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;   
        }
        @include mq.mq($from: wide) {
            display: flex;
            justify-content: space-between;
            padding: 0 8rem;
            margin-top: 3rem;
        }
    }

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        @include mq.mq($from: mobileLandscape, $until: desktop) {
            margin-top: 4rem;
            gap: 0;
        }
        @include mq.mq($from: tablet, $until: desktop) {
            display: none;
        }
        @include mq.mq($from: desktop) {
            margin-top: 8rem;
        }
    }

    &__title {
        text-align: left;
        font-size: $font-size-x3;
        @include mq.mq($from: mobileLandscape, $until: tablet) {
            font-size: 5rem;
        }
        @include mq.mq($from: desktop, $until: wide) {
            font-size: 7rem;
        }
        @include mq.mq($from: wide) {
            font-size: 8rem;
        }
    }
    &__sub-title {
        font-size: $font-size-x2;
        font-family: $font-family-lora;
        @include mq.mq($from: mobileLandscape, $until: tablet) {
            font-size: 2.5rem;
        }
        @include mq.mq($from: desktop, $until: wide) {
            font-size: 4rem;
        }
        @include mq.mq($from: wide) {
            font-size: 4.5rem;
        }
    }

    &__text {
        margin-top: 1rem;
        @include mq.mq($from: mobileLandscape) {
            display: none;
        }
    }
}

// ***********  LAYER FRONT *********** //
.layer-front {
    grid-column: 1/4;
    margin-top: 250px;
    // height: 100vh;
    background: $color-primary-beige;
    border-radius: 2.5rem 2.5rem 0 0;
    z-index: 2;

    // box-shadow: 1px 4px 21px -3px rgba(0, 0, 0, 0.8);
    // -webkit-box-shadow: 1px 4px 21px -3px rgba(0, 0, 0, 0.8);
    // -moz-box-shadow: 1px 4px 21px -3px rgba(0, 0, 0, 0.8);

    @include mq.mq($from: mobileLandscape, $until: tablet) {
        margin-top: 350px;
    }
    @include mq.mq($from: tablet, $until: desktop) {
        margin-top: 1200px;
    }
    @include mq.mq($from: desktop) {
        margin-top: 600px;
    }

    &__wrapper {
        @include mq.mq($from: mobileLandscape) {
            padding: 0 1rem;
        }
    }
    .page-image-front {
        @include mq.mq($from: mobileLandscape) {
            display: none;
        }
    }
    .page-main-title {
        display: none;
        @include mq.mq($from: tablet, $until: desktop) {
            display: block;
        }
    }
    
}

// ***********  PAGE IMAGE BACK *********** //
.page-image-back {
    display: none;
    overflow: hidden;
    @include mq.mq($from: mobileLandscape, $until: tablet) {
        display: block;
        width: 100%;
    }
    @include mq.mq($from: tablet, $until: desktop) {
        display: block;
        width: 100%;
    }
    
    @include mq.mq($from: desktop, $until: wide) {
        display: block;
        width: 540px;
    }
    @include mq.mq($from: wide) {
        display: block;
        width: 620px;
    }
    img {
        width: 100%;

        object-fit: contain;
        border-radius: 2rem 2rem 0 0;
        @include mq.mq($from: mobileLandscape, $until: tablet) {
            display: block;
            width: 100%;
        }
        @include mq.mq($from: desktop) {
            width: 100%;
            float: right;
        }

        @include mq.mq($from: wide) {
            width: 88%;
            float: right;
        }
    }
}