@use "../mq";
@use "../abstracts" as *;

body {

    // font
    h1 {
        font-family: $font-family-lora;
        font-size: $font-size-x2;
        text-align: center;
    }
    p {
        font-family: $font-family-hind;
        font-weight: $font-weight-400;
        line-height: $line-height-sm;
        letter-spacing: $letter-spacing-sm;

    }
  
    @include mq.mq($from: mobileLandscape, $until: tablet) {

    }
    @include mq.mq($from: tablet, $until: desktop) {
     
    }
    @include mq.mq($from: desktop, $until: wide) {
    
    }
    @include mq.mq($from: wide) {
    
    }
}

