@use "./variables" as *;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin paragraph-style {
    @include flex-col;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: $paragraph-gap;
}