@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;

.about-life-coaching {
    @include flex-col-center;
    gap: 2rem;
    color: $color-primary-brown;
    padding: 0 1rem;

    @include mq.mq($from: mobileLandscape, $until: tablet) {
        padding: 0 5rem;
    }

    &__number-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        hr {
            border: none;
            border-top: 1px solid $color-primary-brown;
            width: 60px;
            transform: rotate(90deg);
            margin-bottom: 2.5rem;
        }
    }

    &__number-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: $color-primary-brown;
        color: $color-primary-white;
        font-size: 2rem;
        border-radius: 50%;
        font-family: $font-family-hind;
        font-weight: $font-weight-600;
    }

    &__content {
        @include flex-col-center;
        gap: 1rem;
        text-align: center;
        h2 {
            font-family: $font-family-hind;
            font-weight: $font-weight-600;
            letter-spacing: $letter-spacing-sm;
            font-size: 1.1rem;
        }
    }

    &__description {
        @include flex-col-center;
        gap: 2rem;
    }
}

// FAQ

.faq {
    @include flex-col-center;
    gap: 3rem;
    width: 100%;
    color: $color-primary-brown;
    padding: 0 1rem;

    @include mq.mq($from: mobileLandscape, $until: tablet) {
        width: 100%;
        padding: 0 5rem;
    }

    @include mq.mq($from: tablet, $until: desktop) {
        width: 100%;
        padding: 0 5.5rem;
    }

    @include mq.mq($from: desktop, $until: wide) {
        padding: 0 5rem;
    }

    @include mq.mq($from: wide) {
        padding: 0 15rem;
    }
}

.faq__options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $color-primary-brown;
    border-top: 1px solid $color-primary-brown;
    padding-top: 1rem; // <--- top
}

.faq__item {
    padding: 0 1rem;
    font-size: 1.1rem; // create variable
    border-bottom: 1px solid $color-primary-brown;
    color: $color-primary-brown;
    padding-top: 1rem; // <--- bottom
    cursor: pointer;
    transition: all 0.2s linear;
}

.faq__title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    h2 {
        font-family: $font-family-hind;
        font-weight: $font-weight-600;
        letter-spacing: $letter-spacing-sm;
        font-size: 1.1rem;
    }
}

.faq__description {
    margin: 1rem 0;
    @include flex-col;
    gap: 1rem;
    font-size: 1rem;
    height: 0;
    overflow: hidden;
    transition: all 0.2s linear;

    @include mq.mq($from: tablet) {
        padding: 0 3rem;
    }
}

// &__number-wrapper {
//     position: relative;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     gap: 1rem;
//     width: 100%;
//     hr {
//         position: absolute;
//         border: none;
//         border-top: 1px solid $color-primary-brown;
//         width: 80px;
//     }
// }
