@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;

.mh-professional-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;

    @include mq.mq($from: desktop) {
        flex-direction: row;

    }
    @include mq.mq($from: wide) {
        max-width: 1300px;
    }

    li {
        @include flex-col-center;
        gap: 1.5rem;
        @include mq.mq($from: mobileLandscape, $until: tablet) {
            max-width: 450px;
        }
        @include mq.mq($from: tablet, $until: desktop) {
            padding: 0 4rem;
        }
    }
}

.statistics__title {
    margin-bottom: 2rem;
}


.progressbar-text {
    font-family: $font-family-hind;
    font-weight: $font-weight-600;
    letter-spacing: $letter-spacing-sm;
    font-size: 3rem;
    color: $color-primary-white !important;
}

.mh-progress.mh-progress-circle {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.mh-progress path:nth-child(1) {
    stroke: rgba(0, 0, 0, 0.7);
}

.mh-progress path:nth-child(2) {
    stroke: $color-primary-white !important;
}

.download-btn {
    background: $color-primary-white;
    color: $color-secondary-dark-green;
}

.business-contact {
    @include flex-col-center;
    gap: 3rem;
    padding: 0 1rem 4rem 1rem;
    color: $color-secondary-dark-green;
    text-align: center;
    @include mq.mq($from: tablet) {
        padding-bottom: 0;
    }

    &__text {
        @include mq.mq($from: tablet) {
            max-width: 60%;
        }
        @include mq.mq($from: wide) {
            max-width: 50%;
        }
    }
    &__btn {
        background: $color-secondary-dark-green;
        color: $color-primary-white;
    }
}