@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;

.hero {
    grid-column: 1/4;
    width: 100%;
    // height: 100vh;

    z-index: 1;

    @include mq.mq($from: mobileLandscape, $until: tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: $nav-mobile-height + 1rem !important;
        gap: 1rem;
        &__images {
            width: 100%;
            height: 350px;
            img {
                border-radius: 2rem;
            }
        }
    }

    @include mq.mq($from: tablet, $until: desktop) {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: $nav-tablet-height !important;
        &__images {
            width: 100%;
            height: 950px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 3rem;
                padding: 1rem 1rem;
            }
        }
    }

    @include mq.mq($from: desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        height: 100vh;
        gap: 2rem;
        padding: 1rem 9rem;

        &__images {
            width: 100%;
            height: 90%;
            img {
                width: 100%;
                height: 100%;
                // max-height: 600px;
                border-radius: 3rem;
            }
        }
    }

    @include mq.mq($from: wide) {
        margin-top: $nav-desktop-height !important;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // filter: saturate(80%);
    }

    &__be-your-best-self {
        display: none;
        align-self: center;
        text-align: center;
        color: $color-primary-brown;
        font-family: $font-family-hind;
        @include mq.mq($from: mobileLandscape) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        @include mq.mq($from: tablet, $until: desktop) {
            width: 50%;
        }

        @include mq.mq($from: desktop) {
            padding: 4rem 0;
        }
    }

    &__content {
        width: 100%;
        padding: 3rem 0;
        border: 1px solid $color-primary-brown;
        border-radius: 2rem;
        @include mq.mq($from: mobileLandscape) {
            @include flex-col-center;
            gap: 1rem;
        }

        h4 {
            font-size: 1.5rem;
            font-weight: 200;
        }
        h1 {
            font-size: 4rem;
            font-family: $font-family-hind;
            font-weight: 600;
        }
    }

    &__welcome-text {
        padding: 0 3rem;
        @include mq.mq($from: mobileLandscape, $until: desktop) {
            display: none;
        }
        @include mq.mq($from: desktop) {
            span {
                font-weight: bold;
            }
        }
    }
}

.welcome {
    @include flex-col-center;
    gap: 2rem;

    &__title,
    &__text {
        color: $color-primary-brown;
    }

    &__text {
        text-align: center;
    }

    // tablet
    @include mq.mq($from: tablet, $until: desktop) {
        padding: 2rem 6rem; // put this to a variable
    }

    // desktop
    @include mq.mq($from: wide) {
        padding: 0 10rem;
    }
}

.meet-your-coach-container {
    grid-column: 1/4;
    margin: 0 !important;

    // mobile-land
    @include mq.mq($from: mobileLandscape) {
        // grid-column: 2/3;
        display: flex;
        flex-direction: row-reverse;
    }
    // tablet
    @include mq.mq($from: tablet) {
        grid-column: 2/3;
        gap: 1rem;
    }

    // tablet
    @include mq.mq($from: desktop) {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    @include mq.mq($from: wide) {
        gap: 5rem;
    }
}

.meet-your-coach {
    position: relative;
    // grid-column: 1/4; // occupy full width
    display: flex;
    align-items: center;

    &__title-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: right;
        font-family: $font-family-lora;
        top: 15%;
        right: 5%;
        transform: translateY(-50%);
        color: $color-primary-beige;
        @include mq.mq($from: mobileLandscape) {
            display: none;
        }

        img {
            margin-top: 0.5rem;
            align-self: center;
            width: 35% !important;
            position: relative;
        }
    }

    &__title {
        font-size: 3.5rem;
    }

    &__sub-title {
        font-size: 2rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mq.mq($from: mobileLandscape, $until: tablet) {
            width: 350px;
            height: 100%;
            border-radius: 2rem;
        }
        // tablet
        @include mq.mq($from: tablet, $until: desktop) {
            width: 400px;
            height: 600px;
            border-radius: 2rem;
        }
        @include mq.mq($from: desktop) {
            width: 450px;
            height: 600px;
            border-radius: 2rem;
        }
        // destop
        @include mq.mq($from: wide) {
            width: 450px;
            height: 700px;
            border-radius: 2rem;
        }
    }
}

.aicha-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    color: $color-primary-brown;
    text-align: center;
    padding: 0 1rem;
    font-family: $font-family-lora;

    // mobile-land
    @include mq.mq($from: mobileLandscape) {
        width: 100%;
    }

    // tablet
    @include mq.mq($from: tablet) {
        gap: 3rem;
        padding: 2rem 0;
    }

     // tablet
     @include mq.mq($from: desktop) {
        width: 500px;
        padding: 0;
    }

    &__title-wrapper {
        display: none;
        @include mq.mq($from: mobileLandscape) {
            display: block;
        }
    }

    &__title {
        font-size: 3.5rem;
        // destop
        @include mq.mq($from: tablet, $until: desktop) {
            font-size: 4rem;
        }
        @include mq.mq($from: desktop) {
            font-size: 4rem;
        }
        @include mq.mq($from: wide) {
            font-size: 6rem;
        }
    }
    &__sub-title {
        font-size: 2rem;
        @include mq.mq($from: desktop) {
            font-size: 3.8rem;
        }
        @include mq.mq($from: tablet, $until: desktop) {
            font-size: 2rem;
        }
        @include mq.mq($from: desktop, $until: wide) {
            font-size: 3rem;
        }
    }

    &__name {
        width: 100%;
        @include mq.mq($from: desktop) {
            width: 76%;
        }
    }
}

.what-is-life-coaching {
    @include flex-col-center;
    grid-column: 1/4; // occupy full width
    text-align: center;
    gap: 2rem;
    padding: 3rem 1rem;
    background: $color-primary-brown;
    color: $color-primary-white;

    /* mobile-land */
    @include mq.mq($from: mobileLandscape) {
        width: 100%;
        padding: 6rem;
    }

    @include mq.mq($from: desktop, $until: wide) {
        padding: 6rem 10rem;
    }
    @include mq.mq($from: wide) {
        padding: 6rem 15rem;
    }
}

.for-businesses {
    @include flex-col-center;
    grid-column: 1/4;
    gap: 3rem;
    background: $color-secondary-dark-green;
    color: $color-primary-beige;
    padding: 3rem 1rem;
    margin-bottom: 0;
    /* mobile-land */
    @include mq.mq($from: mobileLandscape, $until: tablet) {
        width: 100%;
        padding: 3rem 5rem;
    }

    /* mobile-land */
    @include mq.mq($from: tablet, $until: desktop) {
        padding: 6rem 5rem;
    }

    @include mq.mq($from: desktop) {
        padding: 6rem 3rem;
    }
}

/*  */

.company-logos {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    background: $color-primary-white;
    padding: 4rem 0;


    //tablet
    @include mq.mq($from: tablet, $until: desktop) {
        padding: 6rem 0;
    }
    //tablet
    @include mq.mq($from: desktop) {
        padding: 4rem 0;
    }
    h1 {
        color: $color-secondary-dark-green;
    }
    &__wrapper {
        @include flex-col-center;
        gap: 0.5rem;

        /* mobile-land */
        @include mq.mq($from: mobileLandscape) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 8rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

/*  */

.testimonial {
    grid-column: 1/4;
    color: $color-primary-brown;

    /* mobile-land */
    @include mq.mq($from: mobileLandscape) {
        padding: 0 3rem;
    }

    //tablet
    @include mq.mq($from: tablet, $until: desktop) {
        padding: 6rem;
    }

    /* mobile-desktop */
    @include mq.mq($from: desktop) {
        padding: 6rem 20rem;
        margin: 0;
    }
}
