@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;

.hero {
    grid-column: 1/4;
    width: 100%;
    height: 100vh;
    z-index: 1;

    @include mq.mq($from: mobileLandscape) {
        margin-top: $nav-mobile-height + 1rem !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        gap: 1rem;
        &__images {
            width: 100%;
            height: 370px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 2rem;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: saturate(80%);

        @include mq.mq($from: mobileLandscape) {
            max-width: 100%;
            height: 100%;
        }
    }

    &__be-your-best-self {
        display: none; 

        @include mq.mq($from: mobileLandscape) {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $color-primary-brown;
            border-radius: 2rem;
            
        }
    }

    &__content {
        color: $color-primary-brown;
        font-family: $font-family-hind;

        h4 {
            font-size: 1.5rem;
            font-weight: 200;
        }
        h1 {
            font-size: 4rem;
            font-family: $font-family-hind;
            font-weight: 600;
            
        }
        @include mq.mq($from: mobileLandscape) {       
            @include flex-col-center;
            gap: 1rem;
        }
        
    }
}

.welcome {
    @include flex-col-center;
    gap: 2rem;

    &__title,
    &__text {
        color: $color-primary-brown;
    }

    &__text {
        text-align: center;
    }
}

.meet-your-coach {
    position: relative;
    grid-column: 1/4; // occupy full width

    &__title-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: right;
        font-family: $font-family-lora;
        top: 15%;
        right: 5%;
        transform: translateY(-50%);
        color: $color-primary-beige;
        img {
            margin-top: 0.5rem;
            align-self: center;
            width: 35% !important;
            position: relative;
        }
    }

    &__title {
        font-size: 3.5rem;
    }

    &__sub-title {
        font-size: 2rem;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.aicha-info {
    @include flex-col-center;
    gap: 2rem;
    color: $color-primary-brown;
    text-align: center;
}

.what-is-life-coaching {
    @include flex-col-center;
    grid-column: 1/4; // occupy full width
    text-align: center;
    gap: 2rem;
    padding: 3rem 1rem;
    background: $color-primary-brown;
    color: $color-primary-white;
}

.my-services {
    @include flex-col-center;
    gap: 2rem;
    width: 100%;
    color: $color-primary-brown;
}

.for-businesses {
    @include flex-col-center;
    grid-column: 1/4;
    gap: 3rem;
    background: $color-secondary-dark-green;
    color: $color-primary-beige;
    padding: 3rem 1rem;
}

.company-logos {
    grid-column: 1/4;
}

/*  */

.company-logos {
    overflow: hidden;
    background: $color-primary-white;

    &__wrapper {
        @include flex-col-center;
        gap: 0.5rem;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 8rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

/*  */

.testimonial {
    grid-column: 1/4;
    color: $color-primary-brown;
}
