@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;

.prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    gap: 2rem;

    @include mq.mq($from: wide) {
        padding-bottom: 4rem;
    }

    &__currency-wrapper {
        @include flex-col-center;
        gap: 1rem;

        @include mq.mq($from: mobileLandscape) {
            width: 400px;
        }
    }

    &__choose-curruncy-title {
        font-family: $font-family-hind;
        font-size: 1.2rem;
        letter-spacing: $letter-spacing-sm;
        color: $color-primary-brown;
        font-weight: $font-weight-600;
    }

    &__currency-btn {
        display: flex;
        justify-content: center;
        background: $color-tertiary-orange-brown;
        width: 100%;
        border-radius: 2rem;

        button {
            width: 100%;
            padding: 0.8rem 0;
            border: none;
            background: none;
            font-size: 1.2rem;
            color: $color-primary-brown;
            border-radius: 2rem;
            cursor: pointer;
        }

        button.active {
            background: $color-primary-brown;
            color: $color-primary-white;
            font-weight: $font-weight-600;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;
        gap: 2rem;

        @include mq.mq($from: wide) {
            max-width: 1000px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        padding: 1.5rem;
        border: 1px solid $color-primary-brown;
        border-radius: 1.5rem;
        gap: 1.5rem;
        height: 550px;
        @include mq.mq($from: mobileLandscape) {
            width: calc(50% - 17px);
        }
        @include mq.mq($from: wide) {
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    &__title {
        font-family: $font-family-hind;
        font-size: 1.2rem;
        letter-spacing: $letter-spacing-sm;
        background: $color-primary-brown;
        color: $color-primary-white;
        width: 100%;
        text-align: center;
        padding: 0.8rem 0;
        border-radius: 1rem;
    }

    &__description {
        color: $color-primary-brown;
        font-family: $font-family-hind;
        letter-spacing: $letter-spacing-sm;
        background: $color-tertiary-orange-brown;
        padding: 2rem;
        border-radius: 1.5rem;
        height: 260px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            list-style-type: disc;
        }
        li {
            margin-left: 1rem;
        }
    }

    &__price {
        @include flex-col-center;
        gap: 0.7rem;
        color: $color-secondary-orange;
        height: 60px;
    }

    &__price-in-kr {
        font-size: 2.5rem;
        font-weight: $font-weight-600;
        span {
            font-size: 1.5rem;
            margin-left: 0.2rem;
        }
    }

    &__price-in-eur {
        font-size: 1.5rem;
        font-weight: $font-weight-600;
        span {
            font-size: 1rem;
            margin-left: 0.2rem;
        }
    }
}

.businesses {
    position: relative;
    background: $color-secondary-dark-green;
    color: $color-primary-white;
    padding: 2rem 1rem;
    text-align: center;

    @include mq.mq($from: mobileLandscape) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 2rem 1rem;
    }
    @include mq.mq($from: wide) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 5rem 0;
    }

    &__wrapper {
        @include flex-col-center;
        gap: 2rem;

        @include mq.mq($from: mobileLandscape) {
            justify-content: center;
        }

        @include mq.mq($from: wide) {
            max-width: 35%;
            margin-right: 10rem;
        }

        @include mq.mq($from: 1880px) {
            margin-right: 20rem;
        }
    }

    &__image-wide-screen {
        display: none;
        @include mq.mq($from: mobileLandscape) {
            display: block;
            width: 100%;
        }
        @include mq.mq($from: wide) {
            position: absolute;
            left: 10rem;
            top: -4rem;
            max-width: 500px;
        }
        @include mq.mq($from: 1880px) {
            left: 20rem;
        }
        img {
            width: 100%;
            object-fit: contain;
            @include mq.mq($from: mobileLandscape) {
                border-radius: 1.5rem;
            }
            @include mq.mq($from: wide) {
                border-radius: 50%;
                border: 5px solid $color-primary-beige;
            }
        }
    }

    &__image-small-screen {
        width: 100%;

        @include mq.mq($from: mobileLandscape) {
            display: none;
        }
        img {
            width: 100%;
            object-fit: contain;
            border-radius: 1.5rem;
        }
    }
}

.quote {
    color: $color-primary-brown;
    margin-bottom: 3rem;
    padding: 0 1rem;
    text-align: center;

    @include mq.mq($from: mobileLandscape) {
        padding: 2rem 5rem;
    }

    @include mq.mq($from: desktop) {
        padding: 2rem 15rem;
    }

    @include mq.mq($from: wide) {
        padding: 3rem 25rem;
    }

    &__wrapper {
        @include flex-col-center;
        gap: 1rem;

        span {
            color: $color-secondary-orange;
        }
        p {
            @include mq.mq($from: wide) {
                max-width: 700px;
            }
        }
    }
}
