@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    gap: 4rem;
    margin-bottom: 3rem;

    // custom mq
    @include mq.mq($from: 1120px, $until: wide) {
        padding: 0 3rem;
    }

    @include mq.mq($from: wide) {
        padding: 0 10rem;
    }

    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;

        @include mq.mq($from: desktop) {
            flex-direction: row;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }

    &__wrapper {
        display: flex;
        // justify-content: center;
        position: relative;
        display: flex;
        padding: 0 1rem;
    }

    &__background {
        width: 250px;
        height: 440px;
        background: $color-tertiary-orange-brown;

        margin-left: 6rem;
        border-radius: 1.5rem;

        @include mq.mq($from: tablet, $until: desktop) {
            width: 500px; // this value must be equal to the image width
            height: 680px;
        }

        @include mq.mq($from: desktop) {
            width: 400px; // this value must be equal to the image width
            height: 560px;
        }
    }

    &__image-wrapper {
        position: absolute;
        margin-top: 1rem;
        h2 {
            font-family: $font-family-lora;
            font-size: $font-size-x2;
            color: $color-primary-brown;
            text-align: center;
            margin-bottom: 1rem;
        }
    }

    &__image {
        width: 300px;

        @include mq.mq($from: tablet, $until: desktop) {
            width: 500px; // this value must be equal to the background width
        }

        @include mq.mq($from: desktop) {
            width: 400px; // this value must be equal to the image width
        }

        img {
            width: 100%;
            object-fit: contain;
            border-radius: 1.5rem;
        }
    }

    &__content-wrapper {
        padding: 0 1rem;

        @include mq.mq($from: mobileLandscape, $until: tablet) {
            padding: 0 4rem;
        }

        @include mq.mq($from: tablet, $until: desktop) {
            padding: 0 6rem;
        }
    }
}

.service__option:nth-child(even) .service__image-wrapper {
    @include mq.mq($from: desktop) {
        margin-left: 6rem;
    }
}
.service__option:nth-child(even) .service__background {
    @include mq.mq($from: desktop) {
        position: relative;
        right: 6rem;
    }
}
