@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Hind:wght@300;400&display=swap");
/* ==========================================================================
COLOR 
========================================================================== */
/* ------------ color-primary ------------ */
/* ------------ color-secondary ------------ */
/* ------------ color-tertiary ------------ */
/* ==========================================================================
FONTS 
========================================================================== */
/* ------------ font-family ------------ */
/* ------------ font-size ------------ */
/* ------------ font-weight ------------ */
/* ------------ line-height ------------ */
/* ------------ letter-spacing ------------ */
/* ==========================================================================
MARGIN
========================================================================== */
/* ------------ line-height ------------ */
/* ==========================================================================
BORDER RADIUS
========================================================================== */
/* ==========================================================================
HEIGHTS
========================================================================== */
/* ==========================================================================
SPACING
========================================================================== */
/** uncomment this to see breakpoints */
.page-bg-beige {
  background-color: #F4EEE3;
}

.page-bg-brown {
  background-color: #946A57;
}

.page-bg-green {
  background: #403A2C;
}

.page-bg-dark-brown {
  background: #442E24;
}

.nav-color-brown {
  color: #946A57;
}

.nav-color-white {
  color: #FFFFFF;
}

.nav-bg-color-brown {
  background: #946A57;
}

.nav-bg-color-green {
  background: #403A2C;
}

.nav-bg-color-dark-brown {
  background: #442E24;
}

.page-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #946A57;
  padding: 0 1rem 0 1rem;
}
@media (min-width: 30em) {
  .page-main-section {
    padding: 0 5rem;
  }
}
@media (min-width: 61.25em) and (max-width: 81.24em) {
  .page-main-section {
    padding: 0 10rem;
  }
}
@media (min-width: 81.25em) {
  .page-main-section {
    padding: 0 20rem;
  }
}
.page-main-section__main-title {
  display: none;
  padding-bottom: 1rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .page-main-section__main-title {
    display: block;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .page-main-section__alternative-title {
    display: none;
  }
}
.page-main-section h2 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}
.page-main-section p {
  text-align: center;
}
@media (min-width: 61.25em) {
  .page-main-section p {
    max-width: 750px;
    text-align: center;
  }
}
.page-main-section__tablet-sub-title {
  display: none;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .page-main-section__tablet-sub-title {
    display: inline-block;
    font-weight: 600;
  }
}

.layer-back {
  position: fixed;
  height: 100%;
  padding: 0 1rem;
  width: 100%;
  color: #FFFFFF;
  z-index: 1;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .layer-back {
    height: 100%;
  }
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .layer-back__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .layer-back__wrapper {
    margin-top: 3rem;
  }
}
@media (min-width: 61.25em) and (max-width: 81.24em) {
  .layer-back__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
@media (min-width: 81.25em) {
  .layer-back__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 8.5rem;
    margin-top: 3rem;
  }
}
@media (min-width: 112.5em) {
  .layer-back__wrapper {
    padding: 0 18.5rem;
  }
}
.layer-back__title-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}
@media (min-width: 30em) and (max-width: 61.24em) {
  .layer-back__title-wrapper {
    margin-top: 4rem;
    gap: 0;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .layer-back__title-wrapper {
    display: none;
  }
}
@media (min-width: 61.25em) {
  .layer-back__title-wrapper {
    margin-top: 8rem;
  }
}
.layer-back__title {
  text-align: left;
  font-size: 2.5rem;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .layer-back__title {
    font-size: 3.5rem;
  }
}
@media (min-width: 61.25em) {
  .layer-back__title {
    font-size: 5rem;
  }
}
.layer-back__title--margin {
  margin-top: 2rem;
}
@media (min-width: 61.25em) {
  .layer-back__title--margin {
    margin-top: 3.5rem;
  }
}
.layer-back__sub-title {
  font-size: 2.5rem;
  font-family: "Lora", serif;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .layer-back__sub-title {
    font-size: 2.5rem;
  }
}
@media (min-width: 61.25em) {
  .layer-back__sub-title {
    font-size: 4.5rem;
  }
}
.layer-back__text {
  margin-top: 1rem;
}
@media (min-width: 30em) {
  .layer-back__text {
    display: none;
  }
}
.layer-back .page-image-back {
  display: none;
  overflow: hidden;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .layer-back .page-image-back {
    display: block;
    width: 100%;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .layer-back .page-image-back {
    display: block;
    width: 100%;
  }
}
@media (min-width: 61.25em) and (max-width: 81.24em) {
  .layer-back .page-image-back {
    display: block;
    width: 540px;
  }
}
@media (min-width: 81.25em) {
  .layer-back .page-image-back {
    display: block;
    width: 620px;
  }
}
.layer-back .page-image-back img {
  width: 100%;
  object-fit: contain;
  border-radius: 2rem 2rem 0 0;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .layer-back .page-image-back img {
    display: block;
    width: 100%;
  }
}
@media (min-width: 61.25em) {
  .layer-back .page-image-back img {
    width: 100%;
    float: right;
  }
}
@media (min-width: 81.25em) {
  .layer-back .page-image-back img {
    width: 88%;
    float: right;
  }
}

.layer-front {
  grid-column: 1/4;
  margin-top: 250px;
  background: #F4EEE3;
  border-radius: 2.5rem 2.5rem 0 0;
  z-index: 2;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .layer-front {
    margin-top: 350px;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .layer-front {
    margin-top: 1200px;
  }
}
@media (min-width: 61.25em) {
  .layer-front {
    margin-top: 600px;
  }
}
.layer-front__intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: 2rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .layer-front__intro-text {
    padding: 1rem 3rem;
  }
}
@media (min-width: 61.25em) and (max-width: 81.24em) {
  .layer-front__intro-text {
    padding: 1rem 3rem;
  }
}
.layer-front .page-image-front {
  width: 100%;
}
.layer-front .page-image-front img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2rem 2rem 0 0;
}
@media (min-width: 30em) {
  .layer-front .page-image-front {
    display: none;
  }
}
.layer-front .page-main-title {
  display: none;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .layer-front .page-main-title {
    display: block;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body, div, span, object, iframe, figure, h1, h2,
h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small,
strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

a {
  color: inherit;
  text-decoration: inherit;
}

body h1 {
  font-family: "Lora", serif;
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  body h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 61.25em) {
  body h1 {
    font-size: 2.5rem;
  }
}
body p {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.06rem;
}
.paragraph-brown {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.06rem;
  color: #946A57;
}

.bold-text {
  font-weight: bold;
}

.accent-color {
  color: #CF7C29;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.btn-brown,
.btn-transparent {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: #FFFFFF;
  font-family: "Hind", sans-serif;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.btn-brown {
  background: #946A57;
}

.btn-transparent {
  border: 1px solid #FFFFFF;
}

.submit-btn {
  display: flex;
  color: #FFFFFF;
  font-family: "Hind", sans-serif;
  font-size: 1rem;
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  background: #946A57;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.submit-btn:hover {
  background: #845e4e;
}

.btn-arrow-down {
  transform: rotate(90deg);
}

@media (min-width: 61.25em) {
  .btn-brown:hover,
  .btn-transparent:hover {
    transition: 0.2s ease-in-out;
    gap: 1.5rem;
  }
}
nav {
  box-shadow: 2px 0px 21px -2px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 2px 0px 21px -2px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 2px 0px 21px -2px rgba(0, 0, 0, 0.53);
  font-family: "Hind", sans-serif;
  background: #F4EEE3;
  z-index: 20;
}
nav .logo {
  width: 6rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  nav .logo {
    width: 8rem;
  }
}
@media (min-width: 61.25em) {
  nav .logo {
    width: 7rem;
  }
}
nav .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 61.25em) {
  #hamburger .navigation {
    display: none;
  }
}

.hamburger-brown span {
  background: #946A57;
}

.hamburger-white span {
  background: #FFFFFF !important;
}

#navigation-items a:hover {
  font-weight: bold;
}

.navigation-bar-menu {
  display: none;
}
@media (min-width: 61.25em) {
  .navigation-bar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    font-size: 1.1rem;
  }
}

#menu a {
  text-decoration: none;
  color: #946A57;
  font-family: "Hind", sans-serif;
  transition: color 0.3s ease;
}

#menu a:hover {
  color: #CF7C29;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 1rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  #menuToggle {
    top: 2.5rem;
  }
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #946A57;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 400px;
  margin: 10px 0 0 0;
  padding: 50px;
  padding-top: 1rem;
  right: -45px;
  background: #F4EEE3;
  border-radius: 0 0 0 2rem;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  box-shadow: -7px 15px 17px -7px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: -7px 15px 17px -7px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: -7px 15px 17px -7px rgba(0, 0, 0, 0.68);
}
@media (min-width: 30em) {
  #menu {
    overflow-y: auto;
    max-height: calc(100vh - 60px);
  }
}
@media (min-width: 48em) {
  #menu {
    overflow-y: auto;
    max-height: calc(100vh - 60px);
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  #menu {
    width: 500px;
    top: 1.9rem;
  }
}

#menu li {
  padding: 20px 2rem;
  font-size: 22px;
  text-align: right;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  #menu li {
    padding: 30px 2rem;
    font-size: 2rem;
  }
}

#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}

/* dropdown container */
.nav-with-dropdown:hover .dropdown {
  display: block; /* Shows the dropdown when the parent is hovered */
}

/* dropdown items */
.dropdown {
  display: none;
  position: absolute;
  background: #F4EEE3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.dropdown a {
  display: block;
  padding: 10px 20px;
  color: #946A57;
  text-decoration: none;
}

.my-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
  color: #946A57;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .my-services {
    width: 100%;
    padding: 0 5rem;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .my-services {
    width: 100%;
    padding: 0 5.5rem;
  }
}
@media (min-width: 61.25em) and (max-width: 81.24em) {
  .my-services {
    padding: 0 5rem;
  }
}
@media (min-width: 81.25em) {
  .my-services {
    padding: 0 15rem;
  }
}

.my-services__options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #946A57;
  max-width: 700px;
}

.my-services__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 2rem;
  border: 1px solid #946A57;
  color: #946A57;
  cursor: pointer !important;
  transition: all 0.2s linear;
}
.my-services__item--active {
  background: #946A57;
  color: #FFFFFF;
}

.my-services__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.5rem;
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
}
@media (min-width: 48em) {
  .my-services__description {
    padding: 0 2rem;
  }
}

.my-services__info span {
  color: #CF7C29;
}
.my-services__info a {
  text-decoration: underline;
  color: #CF7C29;
  text-underline-offset: 3px;
}

.my-services__btn {
  align-self: flex-end;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  gap: 1rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Hind", sans-serif;
  padding: 2rem 3rem;
  height: auto !important;
}
@media (min-width: 48em) {
  .swiper-slide {
    padding: 2rem 3rem;
  }
}
.swiper-slide span {
  font-style: italic;
  color: #CF7C29;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-pagination {
  color: #946A57 !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #946A57 !important;
}

.framed-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/4;
  gap: 3rem;
  background: #403A2C;
  color: #FFFFFF;
  padding: 3rem 1rem;
  margin-bottom: 0 !important;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .framed-display {
    width: 100%;
    padding: 3rem 5rem;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .framed-display {
    padding: 6rem 5rem;
  }
}
@media (min-width: 61.25em) {
  .framed-display {
    padding: 6rem 3rem;
  }
}

#dark-brown {
  background: #442E24;
}

.card-regular {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.7px solid #F4EEE3;
  padding: 3rem 2rem;
  border-radius: 3rem;
  gap: 3rem;
  text-align: center;
  max-width: 1300px;
}
@media (min-width: 30em) and (max-width: 61.24em) {
  .card-regular {
    padding: 3rem 3rem;
  }
}
@media (min-width: 61.25em) {
  .card-regular {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 1rem;
    gap: 2rem;
  }
}
@media (min-width: 81.25em) {
  .card-regular {
    padding: 3rem 5rem;
    gap: 4rem;
  }
}
.card-regular__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.card-regular__title {
  font-size: 1.5rem;
  font-family: "Lora", serif;
}
.card-regular__text {
  text-align: center;
}
@media (min-width: 61.25em) {
  .card-regular__text {
    height: 150px;
  }
}
.card-regular--no-border {
  border: none;
}

.card-regular__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .card-regular__wrapper {
    padding: 0 8rem;
  }
}

.testimonial {
  grid-column: 1/4;
  color: #946A57;
  margin-bottom: 0 !important;
}
@media (min-width: 30em) {
  .testimonial {
    padding: 0 3rem;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .testimonial {
    padding: 6rem 5rem;
  }
}
@media (min-width: 61.25em) {
  .testimonial {
    padding: 6rem 15rem;
    margin: 0;
  }
}
@media (min-width: 81.25em) {
  .testimonial {
    padding: 6rem 20rem;
    margin: 0;
  }
}
@media (min-width: 30em) {
  .testimonial p {
    padding: 0 6rem;
  }
}
.testimonial p span {
  font-style: normal;
}

.swiper {
  max-width: 900px;
}

.numbered-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #946A57;
  padding: 0 1rem;
  width: 100%;
  margin-bottom: 3rem;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .numbered-display {
    padding: 0 5rem;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .numbered-display {
    padding: 0 10rem;
  }
}
.numbered-display__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 61.25em) {
  .numbered-display__container {
    align-items: flex-start;
    gap: 2rem;
  }
}
@media (min-width: 61.25em) {
  .numbered-display__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    max-width: 1100px;
  }
}
.numbered-display__number-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
@media (min-width: 61.25em) {
  .numbered-display__number-wrapper {
    flex-direction: row;
    width: fit-content;
    gap: 0;
  }
}
.numbered-display__number-wrapper hr {
  border: none;
  border-top: 1px solid #946A57;
  width: 60px;
  transform: rotate(90deg);
  margin-bottom: 2.5rem;
}
@media (min-width: 61.25em) {
  .numbered-display__number-wrapper hr {
    transform: rotate(0deg);
    margin-bottom: 0;
    margin-left: 3.5rem;
    width: 150px;
  }
}
.numbered-display__number-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: #946A57;
  color: #FFFFFF;
  font-size: 2rem;
  border-radius: 50%;
  font-family: "Hind", sans-serif;
  font-weight: 600;
}
@media (min-width: 61.25em) {
  .numbered-display__number-item {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
  }
}
.numbered-display__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.numbered-display__content h2 {
  font-family: "Hind", sans-serif;
  font-weight: 600;
  letter-spacing: 0.06rem;
  font-size: 1.3rem;
}
@media (min-width: 61.25em) {
  .numbered-display__content h2 {
    align-self: flex-start;
  }
}
.numbered-display__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
@media (min-width: 61.25em) {
  .numbered-display__description {
    align-items: flex-start;
    text-align: left;
  }
}
.numbered-display__btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.banner {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0rem !important;
  background: rgba(214, 200, 189, 0.46);
  padding: 3rem 1rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .banner {
    padding: 6rem 6rem;
  }
}
@media (min-width: 61.25em) {
  .banner {
    padding: 5rem 0;
  }
}
.banner__title, .banner__text {
  color: #946A57;
  max-width: 900px;
}
@media (min-width: 61.25em) {
  .banner__title, .banner__text {
    width: 800px;
  }
}
.banner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-column: 1/4;
  padding: 0rem 1rem 0 1rem;
  color: #FFFFFF;
  background: #403A2C;
  height: 100%;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  gap: 2rem;
  text-align: center;
}
@media (min-width: 48em) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1.5rem;
  }
}
@media (min-width: 61.25em) {
  .footer__wrapper {
    width: 1000px;
  }
}
.footer__left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer__image-container {
  width: 100%;
  height: 23rem;
}
@media (min-width: 48em) {
  .footer__image-container {
    width: 100%;
    height: 28rem;
  }
}
@media (min-width: 61.25em) {
  .footer__image-container {
    width: 100%;
    height: 30rem;
  }
}
.footer__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .footer__image-container img {
    width: 25rem;
  }
}
.footer__text-and-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  grid-column: 1/4;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .footer__text-and-btn {
    padding: 0 10rem;
  }
}
@media (min-width: 48em) {
  .footer__text-and-btn {
    padding: 0 10rem;
  }
}
.footer__text-and-btn--hide-on-mobile {
  display: none;
}
@media (min-width: 48em) {
  .footer__text-and-btn--hide-on-mobile {
    display: flex;
  }
}
@media (min-width: 48em) {
  .footer__text-and-btn--hide-on-wide {
    display: none;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 48em) {
  .footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border: 0.5px solid #FFFFFF;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
  }
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer__logo {
  width: 110px;
}
@media (min-width: 30em) {
  .footer__logo {
    width: 180px;
  }
}
.footer__logo img {
  width: 100%;
  object-fit: contain;
}
.footer__copywrite {
  text-align: center;
  font-size: 0.8rem;
  font-weight: lighter;
  padding-bottom: 1rem;
  position: relative;
  top: 2rem;
}

nav {
  position: fixed;
  width: 100%;
  height: 3.6rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0 1rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  nav {
    height: 5rem;
  }
}
@media (min-width: 81.25em) {
  nav {
    padding: 0 9rem;
    height: 5.1rem;
  }
}
@media (min-width: 112.5em) {
  nav {
    padding: 0 19rem;
  }
}

.layout {
  display: grid;
}
.layout section {
  margin-top: 3rem;
}
@media (min-width: 48em) {
  .layout section {
    margin-bottom: 3rem;
  }
}
@media (max-width: 29.99em) {
  .layout {
    grid-template-columns: 1fr 90% 1fr;
  }
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .layout {
    grid-template-columns: 1fr 80% 1fr;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .layout {
    grid-template-columns: 1fr 95% 1fr;
  }
}
@media (min-width: 61.25em) and (max-width: 81.24em) {
  .layout {
    grid-template-columns: 1fr 75% 1fr;
  }
}
@media (min-width: 81.25em) {
  .layout {
    grid-template-columns: 1fr 70% 1fr;
  }
}

/* ------------ main block  ------------ */
section {
  grid-column: 2/3;
}
.hero {
  display: grid;
  height: 100%;
  margin-bottom: 0rem !important;
}
@media (min-width: 61.25em) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
.hero__image {
  margin-top: 1rem;
  width: 100%;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .hero__image {
    margin-top: 3rem;
    justify-self: center;
    width: 90%;
  }
}
@media (min-width: 61.25em) {
  .hero__image {
    width: 100%;
  }
}
.hero__image img {
  width: 100%;
}
.hero__be-your-best-self {
  text-align: center;
  color: #946A57;
  font-family: "Hind", sans-serif;
}
@media (min-width: 61.25em) {
  .hero__be-your-best-self {
    width: 100%;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 61.25em) {
  .hero__content {
    align-items: flex-start;
    gap: 1rem;
  }
}
.hero__content h2 {
  font-size: 1.6rem;
  font-weight: 200;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .hero__content h2 {
    font-size: 2.5rem;
  }
}
.hero__content h3 {
  font-size: 3.5rem;
  font-weight: 600;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .hero__content h3 {
    font-size: 5rem;
  }
}
.hero__content p {
  padding-top: 1rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .hero__content p {
    width: 600px;
  }
}
@media (min-width: 61.25em) {
  .hero__content p {
    text-align: left;
    border-left: 4px solid #946A57;
    padding: 0;
    padding-left: 1rem;
    border-bottom: none;
  }
}
.hero custom-button {
  display: none;
}
@media (min-width: 61.25em) {
  .hero custom-button {
    margin-top: 1rem;
    display: block;
  }
}

@media (min-width: 30em) {
  .meet-your-coach-container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 48em) {
  .meet-your-coach-container {
    grid-column: 2/3;
    gap: 1rem;
  }
}
@media (min-width: 61.25em) {
  .meet-your-coach-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
@media (min-width: 81.25em) {
  .meet-your-coach-container {
    gap: 5rem;
  }
}

.meet-your-coach {
  position: relative;
  display: flex;
  width: 100%;
}
@media (min-width: 30em) {
  .meet-your-coach {
    margin-top: 0;
  }
}
@media (min-width: 30em) {
  .meet-your-coach__image-mobile {
    display: none;
  }
}
.meet-your-coach__title-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: "Lora", serif;
  top: -1%;
  right: 5%;
  transform: translateY(-50%);
  color: #946A57;
}
@media (min-width: 30em) {
  .meet-your-coach__title-wrapper {
    display: none;
  }
}
.meet-your-coach__title-wrapper img {
  margin-top: 0.5rem;
  align-self: center;
  width: 40% !important;
  position: relative;
  right: -2rem;
}
.meet-your-coach__title {
  font-size: 3rem;
}
.meet-your-coach__sub-title {
  font-size: 1.5rem;
}
.meet-your-coach__image-mobile {
  margin-top: 0.5rem;
}
.meet-your-coach__image-mobile img {
  width: 100%;
  object-fit: contain;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .meet-your-coach__image-mobile img {
    width: 350px;
    height: 100%;
    border-radius: 2rem;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .meet-your-coach__image-mobile img {
    width: 400px;
    height: 600px;
    border-radius: 2rem;
  }
}
@media (min-width: 61.25em) {
  .meet-your-coach__image-mobile img {
    width: 360px;
    height: 600px;
    border-radius: 2rem;
  }
}
@media (min-width: 81.25em) {
  .meet-your-coach__image-mobile img {
    width: 450px;
    height: 700px;
    border-radius: 2rem;
  }
}

.aicha-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #946A57;
  text-align: center;
  font-family: "Lora", serif;
  width: 100%;
}
@media (min-width: 30em) {
  .aicha-info {
    width: 100%;
  }
}
.aicha-info__image {
  width: 100%;
}
@media (min-width: 30em) {
  .aicha-info__image {
    display: block;
  }
}
.aicha-info__image img {
  width: 100%;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .aicha-info__image img {
    width: 100%;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .aicha-info__image img {
    width: 90%;
  }
}
@media (min-width: 61.25em) {
  .aicha-info__image img {
    width: 100%;
  }
}
.aicha-info__title-wrapper {
  display: none;
}
@media (min-width: 30em) {
  .aicha-info__title-wrapper {
    display: block;
  }
}
.aicha-info__content-wrapper {
  margin-top: 5rem;
  position: relative;
  width: 100%;
}
@media (min-width: 30em) {
  .aicha-info__content-wrapper {
    margin-top: 0;
  }
}
@media (min-width: 61.25em) {
  .aicha-info__content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
.aicha-info__text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .aicha-info__text-wrapper {
    gap: 3rem;
  }
}
@media (min-width: 61.25em) {
  .aicha-info__text-wrapper {
    gap: 2rem;
  }
}
.aicha-info__title {
  font-size: 3.5rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .aicha-info__title {
    font-size: 4rem;
  }
}
@media (min-width: 61.25em) {
  .aicha-info__title {
    font-size: 4rem;
  }
}
@media (min-width: 81.25em) {
  .aicha-info__title {
    font-size: 6rem;
  }
}
.aicha-info__sub-title {
  font-size: 2rem;
}
@media (min-width: 61.25em) {
  .aicha-info__sub-title {
    font-size: 3.8rem;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .aicha-info__sub-title {
    font-size: 2rem;
  }
}
@media (min-width: 61.25em) and (max-width: 81.24em) {
  .aicha-info__sub-title {
    font-size: 3rem;
  }
}
.aicha-info__name {
  width: 90%;
}
@media (min-width: 30em) {
  .aicha-info__name {
    width: 60%;
  }
}
@media (min-width: 61.25em) {
  .aicha-info__name {
    width: 76%;
  }
}
.aicha-info__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .aicha-info__text {
    width: 80%;
  }
}

.what-is-life-coaching {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/4;
  gap: 2rem;
  padding: 3rem 1rem;
  background: #946A57;
  color: #FFFFFF;
}
@media (min-width: 30em) {
  .what-is-life-coaching {
    width: 100%;
    padding: 6rem;
  }
}
@media (min-width: 61.25em) and (max-width: 81.24em) {
  .what-is-life-coaching {
    padding: 6rem 0;
  }
}
.what-is-life-coaching__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  max-width: 1000px;
}
@media (min-width: 61.25em) {
  .what-is-life-coaching__text {
    width: 800px;
  }
}

.company-logos {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  background: #FFFFFF;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.company-logos h1 {
  color: #403A2C;
}
.company-logos__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 30em) {
  .company-logos__wrapper {
    flex-direction: row;
    justify-content: center;
  }
}
.company-logos__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 8rem;
}
.company-logos__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 0 1rem;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .contact__wrapper {
    max-width: 600px;
  }
}
@media (min-width: 61.25em) {
  .contact__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 940px;
    gap: 2rem;
  }
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .contact__image {
    width: 400px;
  }
}
.contact__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .contact__form {
    width: 400px;
  }
}
.contact__full-name-and-company {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 48em) {
  .contact__full-name-and-company {
    flex-direction: row;
    gap: 0.5rem;
  }
}
@media (min-width: 48em) {
  .contact__full-name-and-company .contact__input-wrapper {
    width: 100%;
  }
}
.contact__input-wrapper {
  display: flex;
  flex-direction: column;
}
.contact__input-wrapper label {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.06rem;
  color: #946A57;
}
.contact__input-wrapper input,
.contact__input-wrapper textarea {
  border: 1px solid #CF7C29;
  border-radius: 0.5rem;
  background: #F4EEE3;
  resize: none;
  padding-left: 1rem;
  color: #946A57 !important;
  font-family: "Hind", sans-serif;
  font-size: 1.3rem;
}
.contact__input-wrapper input {
  height: 2.5rem;
}
.contact__submit-btn {
  align-self: center;
  margin-top: 1rem;
}

.instagram {
  display: flex;
  justify-content: center;
}
.instagram__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  max-width: 1200px;
}
@media (min-width: 61.25em) {
  .instagram__wrapper {
    max-width: 1000px;
  }
}
.instagram__text {
  color: #946A57;
  text-align: center;
  padding: 0 1rem;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .instagram__text {
    width: 400px;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .instagram__text {
    width: 600px;
  }
}
.instagram__posts {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
.instagram__image {
  width: 163px;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .instagram__image {
    width: 200px;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .instagram__image {
    width: 300px;
  }
}
@media (min-width: 61.25em) {
  .instagram__image {
    width: 250px;
  }
}
@media (min-width: 81.25em) {
  .instagram__image {
    width: 300px;
  }
}
.instagram__image img {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  gap: 4rem;
  margin-bottom: 3rem;
}
.service__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
@media (min-width: 61.25em) {
  .service__option {
    flex-direction: row;
  }
  .service__option:nth-child(even) {
    flex-direction: row-reverse;
  }
}
@media (min-width: 61.25em) {
  .service__option {
    max-width: 1100px;
  }
}
.service__wrapper {
  display: flex;
  position: relative;
  display: flex;
  padding: 0 1rem;
}
.service__background {
  width: 250px;
  height: 440px;
  background: rgba(207, 124, 41, 0.08);
  margin-left: 6rem;
  border-radius: 1.5rem;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .service__background {
    width: 500px;
    height: 680px;
  }
}
@media (min-width: 61.25em) {
  .service__background {
    width: 400px;
    height: 560px;
  }
}
.service__image-wrapper {
  position: absolute;
  margin-top: 1rem;
}
.service__image-wrapper h2 {
  font-family: "Lora", serif;
  font-size: 2rem;
  color: #946A57;
  text-align: center;
  margin-bottom: 1rem;
}
.service__image {
  width: 300px;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .service__image {
    width: 500px;
  }
}
@media (min-width: 61.25em) {
  .service__image {
    width: 400px;
  }
}
.service__image img {
  width: 100%;
  object-fit: contain;
  border-radius: 1.5rem;
}
.service__content-wrapper {
  padding: 0 1rem;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .service__content-wrapper {
    max-width: 500px;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .service__content-wrapper {
    max-width: 650px;
  }
}

@media (min-width: 61.25em) {
  .service__option:nth-child(even) .service__image-wrapper {
    margin-left: 6rem;
  }
}

@media (min-width: 61.25em) {
  .service__option:nth-child(even) .service__background {
    position: relative;
    right: 6rem;
  }
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 0 1rem;
  gap: 2rem;
}
@media (min-width: 81.25em) {
  .prices {
    padding-bottom: 4rem;
  }
}
.prices__currency-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 30em) {
  .prices__currency-wrapper {
    width: 400px;
  }
}
.prices__choose-curruncy-title {
  font-family: "Hind", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  color: #946A57;
  font-weight: 600;
}
.prices__currency-btn {
  display: flex;
  justify-content: center;
  background: rgba(207, 124, 41, 0.08);
  width: 100%;
  border-radius: 2rem;
}
.prices__currency-btn button {
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  background: none;
  font-size: 1.2rem;
  color: #946A57;
  border-radius: 2rem;
  cursor: pointer;
}
.prices__currency-btn button.active {
  background: #946A57;
  color: #FFFFFF;
  font-weight: 600;
}
.prices__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}
@media (min-width: 81.25em) {
  .prices__wrapper {
    max-width: 1000px;
  }
}
.prices__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  padding: 1.5rem;
  border: 1px solid #946A57;
  border-radius: 1.5rem;
  gap: 1.5rem;
  height: 550px;
}
@media (min-width: 30em) {
  .prices__card {
    width: calc(50% - 17px);
  }
}
.prices__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.prices__title {
  font-family: "Hind", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  background: #946A57;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  padding: 0.8rem 0;
  border-radius: 1rem;
}
.prices__description {
  color: #946A57;
  font-family: "Hind", sans-serif;
  letter-spacing: 0.06rem;
  background: rgba(207, 124, 41, 0.08);
  padding: 2rem;
  border-radius: 1.5rem;
  height: 260px;
}
.prices__description ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  list-style-type: disc;
}
.prices__description li {
  margin-left: 1rem;
}
.prices__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  color: #CF7C29;
  height: 60px;
}
.prices__price-in-kr {
  font-size: 2.5rem;
  font-weight: 600;
}
.prices__price-in-kr span {
  font-size: 1.5rem;
  margin-left: 0.2rem;
}
.prices__price-in-eur {
  font-size: 1.5rem;
  font-weight: 600;
}
.prices__price-in-eur span {
  font-size: 1rem;
  margin-left: 0.2rem;
}

.businesses {
  position: relative;
  background: #403A2C;
  color: #FFFFFF;
  padding: 2rem 1rem;
  text-align: center;
}
@media (min-width: 30em) {
  .businesses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
  }
}
@media (min-width: 81.25em) {
  .businesses {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5rem 0;
  }
}
.businesses__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 30em) {
  .businesses__wrapper {
    justify-content: center;
  }
}
@media (min-width: 81.25em) {
  .businesses__wrapper {
    max-width: 35%;
    margin-right: 10rem;
  }
}
@media (min-width: 117.5em) {
  .businesses__wrapper {
    margin-right: 20rem;
  }
}
.businesses__image-wide-screen {
  display: none;
}
@media (min-width: 30em) {
  .businesses__image-wide-screen {
    display: block;
    width: 100%;
  }
}
@media (min-width: 81.25em) {
  .businesses__image-wide-screen {
    position: absolute;
    left: 10rem;
    top: -4rem;
    max-width: 500px;
  }
}
@media (min-width: 117.5em) {
  .businesses__image-wide-screen {
    left: 20rem;
  }
}
.businesses__image-wide-screen img {
  width: 100%;
  object-fit: contain;
}
@media (min-width: 30em) {
  .businesses__image-wide-screen img {
    border-radius: 1.5rem;
  }
}
@media (min-width: 81.25em) {
  .businesses__image-wide-screen img {
    border-radius: 50%;
    border: 5px solid #F4EEE3;
  }
}
.businesses__image-small-screen {
  width: 100%;
}
@media (min-width: 30em) {
  .businesses__image-small-screen {
    display: none;
  }
}
.businesses__image-small-screen img {
  width: 100%;
  object-fit: contain;
  border-radius: 1.5rem;
}

.quote {
  color: #946A57;
  margin-bottom: 3rem;
  padding: 0 1rem;
  text-align: center;
}
@media (min-width: 30em) {
  .quote {
    padding: 2rem 5rem;
  }
}
@media (min-width: 61.25em) {
  .quote {
    padding: 2rem 15rem;
  }
}
@media (min-width: 81.25em) {
  .quote {
    padding: 3rem 25rem;
  }
}
.quote__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.quote__wrapper span {
  color: #CF7C29;
}
@media (min-width: 81.25em) {
  .quote__wrapper p {
    max-width: 700px;
  }
}

.timeline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #946A57;
  margin-bottom: 4rem;
}
.timeline-section h1 {
  padding-bottom: 2rem;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  margin-top: 2rem;
  margin-left: 2rem;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .timeline {
    max-width: 550px;
  }
}
@media (min-width: 61.25em) {
  .timeline {
    align-items: center;
    max-width: 1000px;
    gap: 4rem;
  }
}
.timeline::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #CF7C29;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate(-50%);
}
.timeline__item {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0 2rem;
}
.timeline__item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #946A57;
  border-radius: 50%;
  top: 0;
  left: -10px;
}
.timeline__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.timeline__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
}
.timeline__title {
  font-size: 1.5rem;
  font-weight: 600;
}
.timeline__sub-title {
  font-weight: 200;
}
.timeline__year {
  font-style: italic;
}
.timeline__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 61.25em) {
  .timeline__body {
    gap: 2rem;
  }
}
@media (min-width: 30em) {
  .timeline__text {
    width: 100%;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .timeline__text {
    max-width: 550px;
  }
}
@media (min-width: 61.25em) {
  .timeline__text {
    max-width: 600px;
  }
}
.timeline__image {
  position: relative;
  height: 300px;
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .timeline__image {
    max-width: 550px;
    height: 500px;
  }
}
@media (min-width: 61.25em) {
  .timeline__image {
    width: 600px;
    height: 500px;
  }
}
.timeline__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.meet-your-coach-footer {
  padding: 2rem 1rem !important;
  height: auto;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
  color: #946A57;
  padding: 0 1rem;
}

.faq__options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #946A57;
  border-top: 1px solid #946A57;
  padding-top: 1rem;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .faq__options {
    max-width: 550px;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .faq__options {
    max-width: 700px;
  }
}
@media (min-width: 61.25em) {
  .faq__options {
    max-width: 800px;
  }
}

.faq__item {
  padding: 0 1rem;
  font-size: 1.1rem;
  border-bottom: 1px solid #946A57;
  color: #946A57;
  padding-top: 1rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.faq__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.faq__title-wrapper h2 {
  font-family: "Hind", sans-serif;
  font-weight: 600;
  letter-spacing: 0.06rem;
  font-size: 1.1rem;
}

.faq__description {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
}

.mh-professional-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
}
@media (min-width: 61.25em) {
  .mh-professional-progress {
    flex-direction: row;
  }
}
@media (min-width: 81.25em) {
  .mh-professional-progress {
    max-width: 1300px;
  }
}
.mh-professional-progress li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .mh-professional-progress li {
    max-width: 450px;
  }
}
@media (min-width: 48em) and (max-width: 61.24em) {
  .mh-professional-progress li {
    padding: 0 4rem;
  }
}

.statistics__title {
  margin-bottom: 2rem;
}

.progressbar-text {
  font-family: "Hind", sans-serif;
  font-weight: 600;
  letter-spacing: 0.06rem;
  font-size: 3rem;
  color: #FFFFFF !important;
}

.mh-progress.mh-progress-circle {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.mh-progress path:nth-child(1) {
  stroke: rgba(0, 0, 0, 0.7);
}

.mh-progress path:nth-child(2) {
  stroke: #FFFFFF !important;
}

.download-btn {
  background: #FFFFFF;
  color: #403A2C;
}

.business-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0 1rem 4rem 1rem;
  color: #403A2C;
  text-align: center;
}
@media (min-width: 48em) {
  .business-contact {
    padding-bottom: 0;
  }
}
@media (min-width: 48em) {
  .business-contact__text {
    max-width: 60%;
  }
}
@media (min-width: 81.25em) {
  .business-contact__text {
    max-width: 50%;
  }
}
.business-contact__btn {
  background: #403A2C;
  color: #FFFFFF;
}

.thank-you {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .thank-you {
    height: 100%;
  }
}
.thank-you__logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 150px;
}
@media (min-width: 30em) and (max-width: 47.99em) {
  .thank-you__logo {
    position: relative;
  }
}
.thank-you__logo img {
  width: 100%;
}
.thank-you__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}
.thank-you__content h1 {
  font-size: 1.5rem;
  color: #442E24;
}
.thank-you__content p {
  text-align: center;
  color: #946A57;
  max-width: 350px;
}
@media (min-width: 48em) {
  .thank-you__content p {
    max-width: 100%;
  }
}
.thank-you .mh-progress path:nth-child(1) {
  stroke: #FFFFFF;
}
.thank-you .mh-progress path:nth-child(2) {
  stroke: #442E24 !important;
}
.thank-you .progressbar-text {
  color: #442E24 !important;
}
