@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;

.btn-brown,
.btn-transparent {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    color: $color-primary-white;
    font-family: $font-family-hind;
    font-size: $font-size-x1;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.btn-brown {
    background: $color-primary-brown;
}

.btn-transparent {
    border: 1px solid $color-primary-white;
}

.submit-btn {
    display: flex;
    color: $color-primary-white;
    font-family: $font-family-hind;
    font-size: $font-size-x1;
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    background: $color-primary-brown;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
        background: darken($color-primary-brown, 5%);
    }
}

.btn-arrow-down {
    transform: rotate(90deg);
}

@include mq.mq($from: desktop) {
    .btn-brown:hover,
    .btn-transparent:hover {
        transition: 0.2s ease-in-out;
        gap: 1.5rem;
    }
}
