@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;

.framed-display {
    @include flex-col-center;
    grid-column: 1/4;
    gap: 3rem;
    background: $color-secondary-dark-green;
    color: $color-primary-beige;
    padding: 3rem 1rem;
    margin-bottom: 0 !important;

    @include mq.mq($from: mobileLandscape, $until: tablet) {
        width: 100%;
        padding: 3rem 5rem;
    }

    @include mq.mq($from: tablet, $until: desktop) {
        padding: 6rem 5rem;
    }

    @include mq.mq($from: desktop) {
        padding: 6rem 3rem;
    }
}

#dark-brown {
    background: $color-primary-dark-brown;
}

.card-regular {
    @include flex-col-center;
    border: 0.7px solid $color-primary-beige;
    padding: 3rem 2rem;
    border-radius: 3rem;
    gap: 3rem;
    text-align: center;

    @include mq.mq($from: mobileLandscape, $until: desktop) {
        padding: 3rem 3rem;
    }

    @include mq.mq($from: desktop) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 3rem 1rem;
        gap: 2rem;
    }

    @include mq.mq($from: wide) {
        flex-direction: row;
        padding: 3rem 5rem;
        gap: 4rem;
    }

    &__icon {
        @include flex;
        width: 5rem;
        height: 5rem;
    }

    &__title {
        font-size: 1.5rem;
        font-family: $font-family-lora;
    }

    &__text {
        text-align: center;
    }
}

.card-regular__wrapper {
    @include flex-col-center;
    gap: 1rem;

    @include mq.mq($from: tablet, $until: desktop) {
        padding: 0 8rem;
    }
}
