@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;

.my-services {
    @include flex-col-center;
    gap: 3rem;
    width: 100%;
    color: $color-primary-brown;

    @include mq.mq($from: mobileLandscape, $until: tablet) {
        width: 100%;
        padding: 0 5rem;
    }

    @include mq.mq($from: tablet, $until: desktop) {
        width: 100%;
        padding: 0 5.5rem;
    }

    @include mq.mq($from: desktop, $until: wide) {
        padding: 0 5rem;
    }

    @include mq.mq($from: wide) {
        padding: 0 15rem;
    }
}

.my-services__options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $color-primary-brown;
}

.my-services__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1.1rem; // create variable
    border-radius: 2rem;
    border: 1px solid $color-primary-brown;
    color: $color-primary-brown;
    cursor: pointer;
    &--active {
        background: $color-primary-brown;
        color: $color-primary-white;
    }
    transition: all 0.2s linear;
}

.my-services__description {
    @include flex-col;
    gap: 1rem;
    padding: 0 1.5rem;
    height: 0;
    overflow: hidden;
    transition: all 0.2s linear;

    @include mq.mq($from: tablet) {
        padding: 0 3rem;
    }
}


.my-services__info {
    span {
        color: $color-secondary-orange;
    }
}

.my-services__btn {
    align-self: flex-end;
}