@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;

/* ------------ main block  ------------ */

section {
    grid-column: 2/3;
    // border: 1px dashed darkmagenta;

    @include mq.mq($from: mobileLandscape, $until: tablet) {
        border: 1px dashed darkblue;
    }
    @include mq.mq($from: tablet, $until: desktop) {
        //  border: 1px dashed black;
    }
    @include mq.mq($from: desktop, $until: wide) {
        border: 1px dashed green;
    }
    @include mq.mq($from: wide) {
        // border: 1px dashed red;
    }
}

/* ------------ /end main block  ------------ */
