@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Hind:wght@300;400&display=swap");
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 20em) {
  body:before {
    content: "mobile ≥ 320px (20em)";
  }
}
@media (min-width: 30em) {
  body:before {
    content: "mobileLandscape ≥ 480px (30em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "tablet ≥ 768px (48em)";
  }
}
@media (min-width: 61.25em) {
  body:before {
    content: "desktop ≥ 980px (61.25em)";
  }
}
@media (min-width: 81.25em) {
  body:before {
    content: "wide ≥ 1300px (81.25em)";
  }
}

/* ==========================================================================
COLOR 
========================================================================== */
/* ------------ color-primary ------------ */
/* ------------ color-secondary ------------ */
/* ==========================================================================
FONTS 
========================================================================== */
/* ------------ font-family ------------ */
/* ------------ font-size ------------ */
/* ------------ font-weight ------------ */
/* ------------ line-height ------------ */
/* ------------ letter-spacing ------------ */
/* ==========================================================================
MARGIN
========================================================================== */
/* ------------ line-height ------------ */
/* ==========================================================================
BORDER RADIUS
========================================================================== */
/* ==========================================================================
HEIGHTS
========================================================================== */
.page-bg-beige {
  background-color: #F4EEE3;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body, div, span, object, iframe, figure, h1, h2,
h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small,
strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

a {
  color: inherit;
  text-decoration: inherit;
}

body h1 {
  font-family: "Lora", serif;
  font-size: 2rem;
  text-align: center;
}
body p {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.06rem;
}
@media (min-width: 48em) {
  section {
    margin: 3rem 0;
  }
}
